@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
  width: 100%;
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}